<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/icon" href="{{ url_for('static', filename='media/icon_biovista_remove.png') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='style_dashboard.css') }}">
    <title>Dashboard : {{ username }}</title>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <img src="" alt="Biovista Logo" class="logo" style="size: 0.75rem;">
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title">Help</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>


                

               
    <main>
        <form action="{{ url_for('create_post') }}" method="POST">
            <label for="title">Happy blogging!</label><br>
                <div classe="post_box">
                    <input type="text" id="title" name="title" placeholder="Title" required>
                    <textarea id="content" name="content" placeholder="Write a post..."  ></textarea>
                </div>
            <button class="button-success">Post</button>
            <a class="cancel" href="#">cancel</a>
           
    
        </form>
        <!------------------------------------------>
        
        <ul  class="posts-list">
            {% for post in posts %}
                <li class="post-item">
                    <div class="post-header">
                        {{ username }}<h4></h4>
                    </div>
                    <p class="post-content">{{ post[2] }}</p>
                    <button classe= "add_comment">Comment</button>
                </li>
            {% endfor %}
            
        </ul>

        <!-------------------- test ------------------->
      
        

    </main>
 
     <!-- ====== ionicons ======= -->
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>

