<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../capstone_backend/signup.py"></script>
    <title>Sign Up</title>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>

    <div class="container"> 
        <h1>Start your blogging journey here and let your creativity soar</h1>
        <div class="form-container">
            <h2>Sign Up</h2>
            <form action="{{url_for('signup')}}" method="POST">
                {% if message is defined and mesaage %}
                    <div classe= "alert alert-warning">{{message}}</div>
                {% endif %}
                <label >Username:</label>
                <input type="text" placeholder="Enter username" required><br><br>
                <label >Email:</label>
                <input type="email" placeholder="Enter email address" required><br><br>
                <label >Password:</label>
                <input type="password" placeholder="Enter password" required><br><br>
                <label >Confirm password:</label>               
                <button type="submit">Sign Up</button>
                <p id="error" style="color: red;"></p>
                <p classe= "bottom" >Already have an account? <a class= "bottom" href="{{url_for('login')}}">login here</a></p>
            </form>
           
        </div>
    </div>
</body>
</html>